@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --bg1: #29aae1;
  --bg2: #00c893;
  --bg3: #1a161f;
  --bg4: #528070;
  --bg5: #3d404d;
  --bg6: #0f0f0f;
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.spinner-loader {
}
.loding-spinner {
  margin: auto;
  width: 50px;
  height: 50px;
  border: 3px solid #5fad5f;
  border-top: 3px solid #00ff00;
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
    color: yellow;
  }

  100% {
    transform: rotate(360deg);
    color: yellow;
  }
}
/* DataForm.css */
.peer:focus ~ label,
.peer:not(:placeholder-shown) ~ label {
  transform: translateY(-1.5rem) scale(0.75);
  color: #3b82f6; /* Tailwind blue-500 */
}
.back-image {
  background: url("https://imgs.search.brave.com/rv0FZlZzhSWcv-RbMtXBpEDlGUZsA3e3yA06aJEZNII/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/ZnJlZS1waG90by9w/YWludGluZy1jb25j/ZXB0LXdpdGgtY29s/b3ItcGFsZXR0ZV8y/My0yMTQ3NzgxNjA3/LmpwZz9zaXplPTYy/NiZleHQ9anBn")
    center center;
  background-size: fill; /* Ensures the image covers the entire container */
}
